<nav>
  <h2>P2G2 Job-Tracker</h2>
  <ul>
    <li><a href="account.handlebars">Account settings</a></li>
    <li><a href="calendar.handlebars">Calendar</a></li>
    <li><a href="kanban.handlebars">Dashboard</a></li>
  </ul>
</nav>