<nav>
  <h2>P2G2 Job-Tracker</h2>
  <ul>
    <li><a href="/account">Account settings</a></li>
    <li><a href="/calendar">Calendar</a></li>
    <li><a href="/kanban">Dashboard</a></li>
    <li><a href="/">Logout</a></li>
  </ul>
</nav>