<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{! Custom CSS }}
    <link rel="stylesheet" href="/css/kanban.css" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/nav.css" />
    <!-- font awesome-->
    <script src="https://kit.fontawesome.com/d2846d24fd.js" crossorigin="anonymous"></script>
    {{! Custom JS }}
    <script src="/javascript/kanban.js" defer></script>
    <title>Kanban</title>
  </head>
  <body>
    {{{body}}}
  </body>
</html>