<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>P2G2 JOB-TRACKER</title>
    <link rel="stylesheet" href="/css/login-account.css" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/nav.css" />
    <link rel="stylesheet" href="/css/account.css">
  </head>
  <body>
    {{{body}}}
    {{> footer}}
  </body>
</html>