<nav>
  <h2></h2>
  <ul>
    <li><a href="/calendar">Calendar</a></li>
    <li><a href="/kanban">Dashboard</a></li>
    <li><a href="/">Logout</a></li>
  </ul>
</nav>

<div class="settings-page">
  <div class="settings-container">
    <h1 class="page-title">Account</h1>
    <div class="settings-section">
      <h2 class="settings-title">General Information</h2>
      <div class="non-active-form">
        <p>Job role: {{userData.role}}</p>
        <i class="fas fa-pen"></i>
      </div>
      <div>
        <div class="non-active-form">
          <p class="capitalize">Name: {{userData.username}}</p>
          <i class="fas fa-pen"></i>
        </div>
      </div>
      <div>
        <div class="non-active-form">
          <p class="capitalize">Info: {{userData.info}}</p>
          <i class="fas fa-pen"></i>
        </div>
      </div>
      <div>
        <div class="non-active-form">
          <p>Email: {{userData.email}}</p>
          <i class="fas fa-pen"></i>
        </div>
      </div>
    </div>
    <div class="settings-section">
      <h2 class="settings-title">Password</h2>
      <form class="form my-form">
        <div class="form-group">
          <div class="input-group">
            <input
              name="currentPassword"
              placeholder="Old Password"
              type="password"
              class="form-control"
              autocomplete="Old Password"
              value=""
            />
            <span class="focus-input"></span>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <input
              name="password"
              placeholder="New Password"
              type="password"
              class="form-control"
              autocomplete="New Password"
              value=""
            />
            <span class="focus-input"></span>
          </div>
        </div>
        <div class="form-submit right">
          <button class="btn button full" type="submit">
            Change Password
          </button>
        </div>
      </form>
    </div>
  </div>
</div>