{{> header}}
<body>
    <div class="container" id="newObject">
      <h2>New</h2> 
      <!-- draggable=true allows for elements to be dragged using the drag and drop api -->
      <p class="draggable" draggable="true">1</p>
      <p class="draggable" draggable="true">2</p>
    </div>
    <div class="container" id="currentObject">
      <h2>Current</h2>
      <p class="draggable" draggable="true">3</p>
      <p class="draggable" draggable="true">4</p>
    </div>
    <div class="container" id="completedObject">
      <h2>Completed </h2>
      <p class="draggable" draggable="true">5</p>
      <p class="draggable" draggable="true">6</p>
    </div>
    <div class="container" id="overdueObject">
      <h2>Overdue</h2>
      <p class="draggable" draggable="true">7</p>
      <p class="draggable" draggable="true">8</p>
    </div>
  </body>
</html>
