<nav>
  <h2></h2>
    <ul>
      <li><a href="/account">Account settings</a></li>
      <li><a href="/calendar">Calendar</a></li>
      <li><a href="/">Logout</a></li>
    </ul>
</nav>

<div class="container" id="newObject">
    <h2>New <button i class="fas fa-plus-circle"></i></button></h2>
</div>
      
<!-- draggable=true allows for elements to be dragged using the drag and drop api -->
<div class="draggable" draggable="true">
  {{!-- <h4>Task 1</h4> --}}
    {{!-- <p> Test </p> --}}
      {{!-- <button><i class="fas fa-edit"></i></button>
      <button><i class="fas fa-trash"></i></button> --}}
</div>
<div class="container" id="currentObject">
  <h2>Current <i class="fas fa-file"></i></h2>
    {{!-- <p class="draggable" draggable="true">3</p>
    <p class="draggable" draggable="true">4</p> --}}
</div>
<div class="container" id="overdueObject">
  <h2>Overdue <i class="fas fa-dumpster-fire"></i></h2>
    {{!-- <p class="draggable" draggable="true">7</p>
    <p class="draggable" draggable="true">8</p> --}}
</div>
<div class="container" id="completedObject">
  <h2>Completed <i class="fas fa-check-square"></i> </h2>
    {{!-- <p class="draggable" draggable="true">5</p>
    <p class="draggable" draggable="true">6</p> --}}
</div>