body {
  margin: 0;
  background-color: #7c8bff;
}

header {
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  position: -webkit-sticky;
  background-image:url("../images/p2j2.jpg");
  background-size: cover;
}

header h1 {
  font-weight: bold;

}

.container {
  background-color: #333;
  padding: 1rem;
  margin-top: 1rem;
}

.draggable {
  background-color: white;
  border: 1px solid black;
  padding: 1rem;
  cursor: move;
}

.draggable.dragging {
  opacity: 0.5;
}

#newObject {
  background-color: #e7f8d8;
  height: auto;
  width: 100%;
}

#currentObject {
  background-color: #fffde3;
  height: auto;
  width: 100%;
}

#completedObject {
  background-color: #d5e2ef;
  height: auto;
  width: 100%;
}

#overdueObject {
  background-color: #ffe7e0;
  height: auto;
  width: 100%;
}
