body {
  margin: 0;
  background-color: #7C8BFF;
}

.container {
  background-color: #333;
  padding: 1rem;
  margin-top: 1rem;
}

.draggable {
  background-color: white;
  border: 1px solid black;
  padding: 1rem;
  cursor: move;
}

.draggable.dragging {
  opacity: 0.5;
}

#newObject {
  background-color: #E7F8D8;
  height: auto;
  width: 100%;
}

#currentObject {
  background-color: #FFFDE3;
  height: auto;
  width: 100%;
}

#completedObject {
  background-color: #D5E2EF;
  height: auto;
  width: 100%;
}

#overdueObject {
  background-color: #FFE7E0;
  height: auto;
  width: 100%;
}


footer{
  background: #fce138;
  width: 100%;
  padding: 70px 35px;
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex;
}


footer h2 {
  color: #024e76;
  font-size: 30px;
  margin: 0;
  
}
footer div {
  line-height: 1.5;
  text-align: right;
  color: #024e76;
}